.directions {
  margin: 0 auto;
  padding-bottom: 150px;
  max-width: 1540px;
  background-color: rgb(35, 29, 29);
  color: #fff;
  padding-top: 10px;

  &_content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    max-width: 1540px;
  }

  &_title {
    font-size: 50px;
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 500;
  }

  &_list {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;

    @include iPhone {
      display: flex;
      flex-direction: column;
      margin: 0 20px;
    }
  }

  &_item {
    column-gap: 30px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;

    &--img {
      max-width: 250px;
    }

    &--title {
      font-size: 30px;
      font-weight: 500;
      align-self: center;
      margin: 30px auto;
    }

    &--text {
      font-size: 22px;
      text-indent: 1.5em;
      text-align: justify;
      line-height: 40px;
    }

    &--1 {
      grid-column: 1 / 4;
    }

    &--2 {
      grid-column: 4 / 7;
    }

    &--3 {
      grid-column: 1 / 4;
    }
    
    &--4 {
      grid-column: 4 / 7;
    }
  }
}
