.header {
  position: sticky;
  top: 0;
  width: 100%;
  transition: left 0.3s 0s;
  height: 100px;
  background-color: #370a41;
  z-index: 15;

  @include iPhone {
    height: 70px;
    // font-size: 20px;
  }

  @include iPad {
    height: 130px;
    // font-size: 18px;
  }

  &_menu {
    flex: 1 1 auto;
  }

  &_container {
    display: flex;
    justify-content: space-between;
    height: 100%;

    @include iPad {
      flex-direction: column;
    }
  }

  &_logo {
    margin: 0;
    z-index: 2;

    @include iPad {
      order: 2;
    }

    img {
      position: relative;
      top: 0;
      left: 25px;
      object-fit: contain;
      height: 100px;
      transition: all 0.3s linear 0s;

      @include NoteBook {
        margin-right: 30px;
      }
    }
  }
}

.menu_open .header_container {
  align-items: start;
  background-color: #370a41;
}

.menu_open .header_logo img {
  @include iPhone {
    height: 120px;
    top: 50px;
    left: 60px;
  }
}
