.header {
  height: 170px;
  display: flex;
  width: 100%;
  background-color: #370a41;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #938787;
  line-height: 22px;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 10;
  flex-direction: column;

  @include iPhone {
    height: 50px;
  }

  @include iPad {
    height: 130px;
    font-size: 18px;
  }

  &_content {
    max-width: 1520px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    height: 100%;

    @include iPad {
      flex-direction: column;
    }
  }

  &_logo {
    margin: 0;
    height: 80px;

    @include iPad {
      order: 2;
    }

    img {
      position: relative;
      top: 35px;
      left: 25px;
      // width: 280px;
      height: 70%;
      object-fit: contain;
  
      @include iPad {
        // width: 150px;
        height: 100px;
      }
  
      @include NoteBook {
        width: 200px;
        margin-right: 30px;
      }
    }
  }
}
