html {
  scroll-behavior: smooth;
}

.page {
  flex: 1 1 auto;

  &__body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

.wraper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

body {
  height: 100%;
  line-height: 1;
  font-family: "Mulish", sans-serif;
  background-color: rgb(35, 29, 29);
}

[class*="_container"] {
  margin: 0 auto;
  max-width: 1540px;
  padding: 15px;
}

img {
  margin: 0;
}

.menu_open body {
  overflow: hidden;
}
