.title {
  height: 100%;
  background-color: rgb(35, 29, 29);
  padding-top: 10px;

  &_photo {
    max-width: 700px;
    margin: 60px auto 50px;
    box-sizing: border-box;
    text-align: center;

    @include iPhone {
      max-width: 100%;
    }

    @include iPad {
      max-width: 500px;
    }

    &--img {
      width: 100%;
      transform: rotate(-10deg);

      @include iPhone {
        width: 60%;
      }

      @include iPad {
        width: 80%;
      }
    }
  }

  &_content {
    position: relative;
  }
}
